/* ============================ 
  Colors
============================ */

$gray: hsla(0,0,96%,1);
$gray-background: hsla(0,0,90%,1);
$dark-gray : darken($gray, 10%);
$white: hsla(0,0,100%,1);
$black: hsla(0,0,10%,1);
$brand-color: hsla(124,30%,40%,1);
$dark-brand: darken($brand-color, 10%);
$accent-color: hsla(51,98%,50%,0.83);

/* ============================ 
  Typography
============================ */

$body-font: "Lato", Helvetica, Arial, sans-serif;
$text-font: "minion-pro", Times, serif;

$heavy-text:900;
$medium-text:400;
$light-text:300;

$underline: 0.0625rem dotted;

/* ============================ 
  Borders
============================ */

$border-thick: 0.125rem $black solid;
$border-thin:  0.125rem $gray solid;

/* ============================ 
  Backgrounds
============================ */